body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 20px 0;
}

.menu-item {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
}

.menu-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.menu-item h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.menu-item p {
    font-size: 1em;
    color: #666;
}

.menu-item .price {
    font-size: 1.2em;
    color: #333;
    font-weight: bold;
}

@media (max-width: 768px) {
    .menu-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 480px) {
    .menu-grid {
        grid-template-columns: 1fr;
    }
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    bottom: 0;
}

.whatsapp-button {
    display: inline-block;
    padding: 10px;
    background-color: #25D366;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.social-button {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.form-container {
    width: 50%;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
}

.campos {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.acoes {
    text-align: right;
}

.btn-enviar {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contatos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.apresentacao {
    display: flex;
}

.informacoes {
    margin: 20px;
}

.logo {
    width: 100px; /* ajuste o tamanho conforme necessário */
    height: auto; /* mantém a proporção da imagem */
    display: block;
    margin: 0 auto; /* centraliza o logo */
}